@import 'mixins';
@import 'reset';
        

/*----------VARIABLES
*/

$white: white;
$black: black;


/*----------EFFECTS
*/

html {
    -webkit-font-smoothing: antialiased; 
    -moz-font-smoothing: antialiased; 
    font-smoothing: antialiased;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 62.5%; /* 1rem = 10px */
}

:focus {
    outline: none;
}

a:hover {
	cursor: pointer;
}

input {
	-webkit-box-sizing: border-box;
    		box-sizing: border-box;
}


/*----------BODY
*/

body {
    background: #fff;

    ul {
        li {
            float: left;
            width: 25%;
            height: 150px;

            div {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                border-left: 1px solid #eee;
                border-bottom: 1px solid #eee;
                height: 150px;

                img {
                    max-width: 75px;
                    max-height: 60%;
                    padding: 12px;
                    border: 0px solid #aaa;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }

                a {
                    min-height: 100%;
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        opacity: .5;
                    }
                }

                p {
                    padding: 8px 0 10px 0;
                    text-align: center;
                    font-size: 14px;
                    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                    width: 100%;
                    background: #fafafa;
                    font-weight: bold;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    body {
        ul {
            li {
                width: 33.3%;
            }
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 767px) {

    body {
        ul {
            li {
                width: 50%;
            }
        }
    }

}
